@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:ital,wght@1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-color: #e50914;
  --dark-color: #141414;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  --webkit-font-smoothing: antialiased;
  background: #000;
  color: #999;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

.showcase {
  width: 100%;
  height: 93vh;
  position: relative;
  background: url("images/Wallpaper.jpg") no-repeat center center/cover;
}

.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 120px 100px 250px #000, inset -120px -100px 250px #000;
}

.showcase-top {
  position: relative;
  height: 90px;
  z-index: 2;
  
  display: flex;
  justify-content: flex-start; 
}

.showcase-top ul .red {
  color: #ef3b3b;
}
.showcase-top img {
  width: 200px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%,-50%);
  cursor: pointer;
}


.showcase-top ul {
  position: absolute;
  top: 42%;
  left:38%;
  /* margin: auto; */
  display: flex;
  font-size: 20px;
}

.showcase-top ul li {
  padding: 0 10px;
  margin: 0 5px;
}

.showcase-top ul a:hover {
  color: #ef3b3b;
}

.showcase-top > a {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%,-50%);
}
.text-center {
  text-align: center;
}
.new-btn {
  color: #fff;
  font-weight: 700;
  background-color: #ef3b3b;
  border: 3px solid #ef3b3b;
  border-radius: 36px;
  padding: 10px 30px;
  margin: 0 10px;
}

.new-btn:hover{
  opacity: 0.9;
}
.red {
  color: #ef3b3b;
}
.showcase-content {
  position: relative;
  z-index: 2;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 9rem;
}

.showcase-content h1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.1;
  margin: 0 0 2rem;
}

.showcase-content p {
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.25;
  margin: 0 0 2rem;
}

/* Tabs */

.tabs {
  background: var(--dark-color);
  padding-top: 1rem;
  border-bottom: 3px solid #3d3d3d;
}

.tabs .container {
  /* we put grid on container and not tabs, bcs conatiner is the direct child of tabs, so it will also become a grid item, but we want tab-1, tab-2 & tab-3 to be the grid items, so put grid on container*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tabs p {
  font-size: 1.2rem;
  padding-top: 0.5rem;
}

.tabs .container > div {
  padding: 1.5rem 0;
}

.tabs .container > div:hover {
  cursor: pointer;
  color: #fff;
}

.tab-border {
  border-bottom: var(--primary-color) 4px solid;
}

/* Tab Content */
.tab-content {
  padding: 3rem 0;
  background: #000;
  color: #fff;
}

/* Hide content initially */
#tab-1-content,
#tab-2-content,
#tab-3-content {
  display: none;
}

.show {
  display: block !important;
}

#tab-1-content .tab-1-content-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
}

#tab-2-content .tab-2-content-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}

#tab-2-content .tab-2-content-bottom {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
  border-spacing: 0;
}

.table thead th {
  text-transform: uppercase;
  padding: 0.8rem;
}

.table tbody tr td {
  color: #999;
  padding: 0.8rem 1.2rem;
  text-align: center;
}

.table tbody tr td:first-child {
  text-align: left;
}

.table tbody tr:nth-child(odd) {
  background: #222;
}

/* Container */

.container {
  max-width: 70%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* Text Styles */

.text-xl {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text-lg {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.text-md {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-dark {
  color: #999;
}

/* Buttons */

.btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-rounded {
  border-radius: 5px;
}

.btn-xl {
  font-size: 1.3rem;
  padding: 1.5rem 2.1rem;
  text-transform: uppercase;
  border-radius: 75px;
}

.btn-lg {
  font-size: 1rem;
  padding: 0.8rem 1.3rem;
  text-transform: uppercase;
}

.btn-icon {
  margin-left: 1rem;
}


#jod{
  background-color: #202020;
}


.container1{
  display: flex;
  justify-content: space-around;
  height: 400px;
  align-items: center;
  width: 100vw;

}



#jod .events{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

#jod .events h1{
  color: #ef3b3b;
  font-size: 4rem;

}


#about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #202020;
  height: auto;
  min-height: 400px;
  padding-bottom: 20px;
}

#about h2{
  color: #ef3b3b;
  font-size: 4rem;
  margin: 20px 0;

}
#about p{
  color: #fff;
  font-size: 20px;
  margin: 0px 10rem;
  padding: 0px 20px;
  text-align: center;
  font-weight: 300;
}
.card{
  position: relative;
  width: 400px;
  height: 250px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin: 0px 10px
}

.card .circle{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.card .circle::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ef3b3b;
  clip-path: circle(120px at center);
  transition: 0.5s;
}

.card:hover .circle::before{
  background-color: #ef3b3b;
  clip-path: circle(400px at center);
}

.card img{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  pointer-events: none;
  transition: 0.5s;
  width: auto;
}

.card:hover img{
  left: 75%;
  height: 370px;
  top: 50%;
}

.card:hover #gow{
  left: 88%;
  height: 350px;
  top: 50%;
}

.card:hover #valo{
  left: 80%;
  height: 370px;
  top: 50%;
}

.card .content{
  position: relative;
  width:55%;
  left: 20%;
  padding: 20px 20px 20px 40px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  font-size: 1rem;
}

.card:hover .content{
  left: 0;
  opacity: 1;
  visibility: visible;
}

.card .content h2{  
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1rem;
  margin-bottom: 10px;
}
.card .content p{
  color: white;
}

.card .content a{
  position: relative;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: white;
  color: black;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
}


.card .content a:hover{
  background-color: #eeeeee;
  color: #ef3b3b;
  
}


/* footer */
.bottom { 
  width: 100vw;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #2b2b2b;
}

.bottom-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  margin-left: 172px;
}

.bottom-right {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.bottom-logo {
  width: 256px;
  height: auto;
  border-bottom: 2px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-logo img {
  width: 204px;
  height: 204px;
}

.icon-set {
  width: 192px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.br {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.br p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 12px;
  color: #fff;
  cursor: pointer;
  width: 160px;
}

.br-top {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #ef3b3b;
}



.location{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loc {
  background-color: #222;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  /* height: auto; */
}

.loc img {
  width: 60%;
}

.loc h1 {
  color: #ef3b3b;
  font-size: 64px;
}

@media (max-width:1330){
  .loc{ 
    height: auto;
  }
}

@media (max-width:900){
  .loc{
    padding-bottom: 20px;
  }
}

@media (max-width: 960px) {
  .showcase {
    height: 70vh;
  }

  .hide-sm {
    display: none;
  }

  .showcase-top img {
    top: 30%;
    left: 5%;
    transform: translate(0, -37%);
    /* cursor: pointer; */
  }

  .showcase-content h1 {
    font-size: 3.7rem;
    line-height: 1;
  }

  .showcase-content p {
    font-size: 1.5rem;
  }

  .footer .footer-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn-xl {
    font-size: 1.5rem;
    padding: 1.4rem 2rem;
  }

  .text-xl {
    font-size: 1.5rem;
  }

  .text-lg {
    font-size: 1.3rem;
  }

  .text-md {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {

  .showcase-content h1{
    font-size: 2.5rem;
  }

  .showcase::after {
    box-shadow: inset 80px 80px 250px #000000, inset -80px -80px 250px #000000;
  }

  .btn-xl{
    font-size: 1rem;
  }

  #tab-1-content .tab-1-content-inner {
    grid-template-columns: 1fr;
    text-align: center;
  }

  #tab-2-content .tab-2-content-top {
    display: block;
    text-align: center;
  }

  #tab-2-content .tab-2-content-bottom {
    grid-template-columns: 1fr;
  }

  #about p{
    margin: 0 2rem;
  }
}

@media (max-width:1000px){
  .container1{
    height: auto;
  }
}

@media (max-width:990px){
  .container1{
      flex-direction: column;
  }

  .card{
      width: auto;
      max-width: 350px;
      align-items: flex-start;
      margin: 50px 0px;
  }

  .card:hover{
      height: 550px;
  }

  .card .content{
      width: 100%;
      left: 0;
      padding: 40px;
  }

  .card:hover img{
      top: 70%;
      left: 50%;
      height: 320px;
  }

  .card:hover #gow{
      top: 70%;
      left: 50%;
      height: 320px;
  }   
  .card:hover #valo{
      top: 70%;
      left: 50%;
      height: 320px;
  }   

}

@media (max-width: 1150px) {
  .bottom {
    flex-direction: column;
    height: auto;
  }

  .bottom-left {
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
  }

  .bottom-right {
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    flex-direction: column;
  }
}
@media (max-width:400px){
  .showcase-content h1{
    font-size: 1.8rem;
  }

  .showcase-content p{
    font-size: 1rem;
  }

  .btn-xl{
    font-size: 0.9rem;
  }

  .new-btn{
    margin-right:-20px;
  }
}